a {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: hsl(216, 61%, 22%);
    text-decoration: none;
    // border: 1px solid hsl(300, 100%, 8%);
    span {
        margin: 0;
        padding: 0;
        color: white;
    }
}

a:hover {
    background-color: hsl(216, 61%, 32%);
}
