<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">
            <!-- Informacion del Proyecto -->
            @if(proyecto()){
            {{proyecto()?.titulo}}
            }@else if(nota()){
            {{nota()?.titulo}}
            }@else if(trabajo()){
            {{trabajo()?.nombre}}
            }
        </h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if(proyecto()){ <!-- Detalles del Proyecto -->
        <div class="descripcion">
            {{proyecto()?.descripcion}}
        </div>

        <div class="detalles">
            <div class="sitio">
                <a href="{{proyecto()?.link}}" target="_blank" rel="noopener noreferrer">
                    <span class="material-icons">
                        language
                    </span>
                </a>
            </div>

            <div class="estado">
                {{estado() ? 'Producción':'Local'}}
            </div>

            <div class="fecha">
                {{fechaFormat()}}
            </div>
        </div>
        }@else if(nota()){ <!-- Informacion de la Nota -->
        <div class="descripcion" [innerHTML]="contenidoHtml()"></div>
        <div class="detalles">

            <div class="fecha">
                {{fechaFormat()}}
            </div>

        </div>
        }@else if (trabajo()) {
        <div class="tareas">
            <ol>
                @for (item of trabajo()?.Tareas; track item) {
                <li>
                    <div class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" [attr.trabajo]="item.idTrabajo"
                            [value]="item.idTareas" [checked]="item.estado" (change)="sendEstado($event)"
                            id="{{item.idTareas}}">
                        <label class="form-check-label" for="{{item.idTareas}}">
                            {{item.tarea}} {{item.estado  ? "✅":"⛔"}}
                        </label>
                    </div>
                </li>
                }
            </ol>

            <div class="fecha">
                {{fechaFormat()}}
            </div>
        </div>
        }
    </div>