app-card{
    display: inline-block;
    width: 40vh;
}

hr {
    color: white;
    margin: 5px 0;
}
#title {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: white;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

#footer {
    padding-top: 10px;
    text-align: center;
}
