/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    background-color: hsl(216, 61%, 12%);
    background-image: url("/imagen/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

// Cards
.cards,
.offcanvas {
    backdrop-filter: blur(7px) saturate(138%) !important;
    -webkit-backdrop-filter: blur(7px) saturate(138%) !important;
    background-color: rgba(17, 25, 40, 0.64) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
    margin: 0 !important;
}

// Barra de Navegacion
.navbars {
    padding: 13px;
    backdrop-filter: blur(7px) saturate(138%) !important;
    -webkit-backdrop-filter: blur(7px) saturate(138%) !important;
    background-color: rgba(17, 25, 40, 0.64) !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

// Barra Horizontal
.sidebar {
    padding: 13px;
    backdrop-filter: blur(7px) saturate(138%) !important;
    -webkit-backdrop-filter: blur(7px) saturate(138%) !important;
    background-color: rgba(17, 25, 40, 0.64) !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

// Mensaje de Error
#message-error {
    margin-top: 10px !important;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: hsl(0, 82%, 58%) !important;
    font-size: clamp(0.8rem, 0.9vw, 0.9rem);
    display: flex;
    gap: 6px;
    align-items: center;

    span {
        font-size: 20px;
    }
}

.form-label,
.form-check-label {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

// Personalizacion del Input

textarea {
    field-sizing: content;
}

.form-check-input {
    background-color: hsl(216, 61%, 32%) !important;
    border: none !important;
}

.form-check-input:checked {
    background-color: hsl(216, 61%, 12%) !important;
    border: none !important;
}

.form-control.form-control-sm {
    padding: 0.5rem 0.75rem !important;
    backdrop-filter: blur(7px) saturate(128%) !important;
    -webkit-backdrop-filter: blur(7px) saturate(128%) !important;
    background-color: hsl(219, 40%, 15%) !important;
    border: none !important;
    color: white !important;
    border-radius: 13px !important;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.form-control-sm::placeholder {
    color: hsl(0, 0%, 65%) !important;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

// Input para ingresar el Titulo
.form-control.title {
    padding: 0.5rem 0.75rem !important;
    backdrop-filter: blur(0px) saturate(95%);
    -webkit-backdrop-filter: blur(0px) saturate(95%);
    background-color: rgba(17, 25, 40, 0);
    font-size: clamp(1rem, 4vw, 1.4rem);
    color: white;
    border: none;
    border-radius: 12px !important;
    text-align: center;
}

.form-control.title::placeholder {
    color: hsl(0, 0%, 65%) !important;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    text-align: center;
}

.form-control.title:focus {
    backdrop-filter: blur(0px) saturate(95%);
    -webkit-backdrop-filter: blur(0px) saturate(95%);
    background-color: rgba(17, 25, 40, 0);
    border: none !important;
    color: white !important;
}

// Personalizacion de Select
.form-select.form-select-sm {
    padding: 0.5rem 0.75rem !important;
    backdrop-filter: blur(2px) saturate(138%) !important;
    -webkit-backdrop-filter: blur(2px) saturate(138%) !important;
    background-color: hsl(219, 40%, 21%) !important;
    border: 1px solid hsl(219, 40%, 11%) !important;
    color: white !important;
    border-radius: 13px !important;
}

// Jsuite

.jeditor-container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: none !important;
    color: white !important;
    border-radius: 13px !important;
    font-family: "Playfair Display", serif;
    font-weight: 300;

    .jeditor {
        color: white !important;
    }

    .jeditor-toolbar.jtoolbar.jtoolbar-container {
        .jtoolbar-item {
            .material-icons {
                color: white;
            }
        }

        .jtoolbar-item:hover {
            background-color:hsl(216, 61%, 22%);
            .material-icons {
                color: white;
            }
        }

        .jtoolbar-item.selected {
            background-color: hsl(216, 61%, 22%);
            .material-icons {
                color: white;
            }
        }
    }
}

// Acciones de Cards
.cards {
    .acciones {
        transition: all 500ms ease-in-out;
        position: absolute;
        right: 5px;
        top: -20px;
        opacity: 0;
        display: flex;
        flex-direction: row;
        gap: 4px;
        z-index: 10;
        a {
            text-decoration: none;
            cursor: pointer;
            transition: all 500ms ease-in-out;
            span {
                font-size: 1.1rem;
                color: white;
                border-radius: 50%;
                padding: 3px;
            }

            span.search {
                background-color: rgb(153, 219, 221);
            }

            span.edit {
                background-color: rgb(184, 173, 21);
            }

            span.delete {
                background-color: rgb(201, 20, 20);
            }
        }
    }
}
